# חובה
TELEGRAM_BOT_TOKEN=your_bot_token_from_botfather
TELEGRAM_CHAT_ID=your_chat_id

# אופציונלי
POLL_INTERVAL=45
TIMEZONE=Asia/Jerusalem
ALERT_CITIES=תל אביב
# ALERT_CITIES=תל אביב,רמת גן,גבעתיים
# ALERT_POSITIVES=ניתן לצאת מהמרחב המוגן,ניתן לצאת מהמקלט
LOG_LEVEL=DEBUG
